*.a
*.app
*.aux
*.chi
*.chs.h
*.dSYM/
*.dll
*.dylib
*.dyn_hi
*.dyn_o
*.elf
*.exe
*.gch
*.hex
*.hi
*.hp
*.i*86
*.ko
*.la
*.lai
*.lib
*.lo
*.mod
*.o
*.obj
*.out
*.pch
*.prof
*.slo
*.so
*.so.*
*.x86_64
.cabal-sandbox/
.hpc
.hsenv
.virtualenv
cabal-dev
cabal.sandbox.config
dist
